# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Mac / Windows OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# CSV files
*.csv
# Large or temporary data files
data/text8
data/corpus.pkl
*.pth
*.npy